.footer{
    background: rgba(255, 255, 255, 10); /* Cor de fundo com transparência */
    padding: 15px;
    box-shadow: 0 0 10px rgba(134, 120, 120, 0.2);
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
    display: flex;
    justify-content:right;
}

.social_list{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.social_list li{
    margin: 0 1em;
}

.social_list svg{
    font-size: 1.5em;
}

p.copy{
    left:0;
    color: #000000;
    font: bold;
}